* {
    background-color: black;
    color: #fff;
}

header {
    
    margin-top: 50px;
    height: 80px;
    padding: 0px 112px;
}

.header-logo__logo {
    width: 110px;
    height: 26px;
    flex-shrink: 0;
}


.links {
}

.header-links__vacansy {
    color: var(--text-primary, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.16px;
}
.header-links__contacts {   
    color: var(--text-primary, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.16px;
}

main {
    background-color: black;
}

.pusk-1 {
    padding-top: 296px;
    width: 1094px;
    height: 220px;
    flex-shrink: 0;
}

.main-pusk-1--p {
    width: 445px;
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.main-pusk-1--h1 {
    width: 1094px;
    color: var(--text-primary, #FFF);
    font-family: Helvetica Neue;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 0.8px;
}

.pusk-2 {
    margin-top: 386px;
}

.pusk-2--h1 {
    width: 1009px;
    color: var(--text-primary, #FFF);
    font-family: Helvetica Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.6px;
    text-align: center;
}
.pusk-2--p {
    padding-top: 40px;
    width: 1009px;
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.18px;
    text-align: center;
}

.pusk-2_info-blcok {
    padding-top: 80px;
    height: 164px;
    max-width: 216px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}
.pusk-2_info-block--block {
    width: 392px;
    max-height: 104px;
}

.test {
    display: flex;
    padding: 16px;
    border: 2px solid var(--surface-color-2, #40FFE4);
    box-shadow: 3px 3px 5px 0px rgba(0, 224, 255, 0.40) inset, -3px -3px 5px 0px rgba(0, 224, 255, 0.40) inset;
    background: var(--surface-background, url(<path-to-image>), lightgray 0% 0% / 100px 100px repeat, rgba(19, 19, 19, 0.60));
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    backdrop-filter: blur(3px);
}

.block-1--txt {
    display: flex;
    width: 392px;
    height: 104px;
    padding: 16px;
    border: 2px solid var(--surface-color-2, #40FFE4);
    box-shadow: 3px 3px 5px 0px rgba(0, 224, 255, 0.40) inset, -3px -3px 5px 0px rgba(0, 224, 255, 0.40) inset;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    backdrop-filter: blur(3px);
}
.pusk-2-blcok-1-img {
    
}
.pusk-2-blcok-1-h2 {
    width: 350px;
    color: var(--text-primary, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-left: 16px;
}
.pusk-2-blcok-1-p {
    margin: 16px;
    display: flex;
    align-self: flex-start;
    width: 350px;
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.16px;
}

.make-money {
    margin-top: 260px;
    width: 1094px;
}

.make-money--h1 {
    color: var(--text-primary, #FFF);
    font-family: Helvetica Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.6px;

}
.make-money--p {

    padding-top: 20px;
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.18px;

}

.make-money---img-block-text {
    height: 502px;
    flex-shrink: 0;
}

.make-money---img-block {
    display: flex;
    max-width: 598px;
    height: 475px;
    overflow: hidden;
    padding: 24px;
    border: 2px solid var(--surface-color-2, #40FFE4);
    box-shadow: 3px 3px 5px 0px rgba(0, 224, 255, 0.40) inset, -3px -3px 5px 0px rgba(0, 224, 255, 0.40) inset;
    background: var(--surface-background, url(<path-to-image>), lightgray 0% 0% / 100px 100px repeat, rgba(19, 19, 19, 0.60));
    flex-direction: column;
    align-items: center;
    gap: 36px;
    flex-shrink: 0;
    backdrop-filter: blur(3px);
}

.make-money---img-block-img {
    padding-top: 52px;
    width: 262px;
    height: 335px;
}    
.main-blovk-dont-see {

}

.dont-see {
    padding-top: 279px;
    height: 104px;
}

.blue-block {
    width: 219px;
    height: 104px;
    display: flex;
    background: var(--surface-color-2, #40FFE4);
}

.text-block {
    display: flex;
    width: 1010px;
    height: 104px;
    padding: 16px;
    border: 2px solid var(--surface-color-2, #40FFE4);
    box-shadow: 3px 3px 5px 0px rgba(0, 224, 255, 0.40) inset, -3px -3px 5px 0px rgba(0, 224, 255, 0.40) inset;
    background: var(--surface-background, url(<path-to-image>), lightgray 0% 0% / 100px 100px repeat, rgba(19, 19, 19, 0.60));
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    backdrop-filter: blur(3px);
}
    
.main {

}

.best-wallet {
    padding-top: 284px;
}

.best-wallet-h1 {

    color: var(--background-white, #FFF);
    font-family: Helvetica Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.6px;
    text-align: center;
}

.best-wallet-text {
    padding-top: 40px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.18px;
    text-align: center;
}

.best-wallet-card {
    padding-right: 20px;
}
.d-flex {
}
.best-wallet-card-img {
    width: 60px;
    height: 60px;
}
.best-wallet-card-txt {
    display: flex;
    width: 538px;
    padding: 24px 16px;
    border-top: 2px solid var(--surface-color-2, #40FFE4);
    border-right: 1px solid var(--surface-color-2, #40FFE4);
    border-bottom: 2px solid var(--surface-color-2, #40FFE4);
    border-left: 2px solid var(--surface-color-2, #40FFE4);
    box-shadow: 3px 3px 5px 0px rgba(0, 224, 255, 0.40) inset, -3px -3px 5px 0px rgba(0, 224, 255, 0.40) inset;
    background: var(--surface-background, url(<path-to-image>), lightgray 0% 0% / 100px 100px repeat, rgba(19, 19, 19, 0.60));
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    backdrop-filter: blur(3px);
}
.best-wallet-card-txt-H {
    color: var(--text-primary, #FFF);
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.28px;
}
.best-wallet-card-txt-p {
    align-self: stretch;
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
}

.best-wallet-card-2 {
    align-content: flex-end;
}

.best-wallet-card-1 {
    align-content: flex-start;
}

.yet-plugins {
    padding-top: 260px;
}

.yet-plugins-H1 {
    color: var(--background-white, #FFF);
    font-family: Helvetica Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.6px;
    padding-bottom: 60px;
}

.yet-plugins-txt {
    width: 515px;
    height: 160px;
    padding: 24px 16px;
    
    border: 2px solid var(--surface-color-2, #40FFE4);
    box-shadow: 3px 3px 5px 0px rgba(0, 224, 255, 0.40) inset, -3px -3px 5px 0px rgba(0, 224, 255, 0.40) inset;
    background: var(--surface-background, url(<path-to-image>), lightgray 0% 0% / 100px 100px repeat, rgba(19, 19, 19, 0.60));
}

.yet-plugins-card {
    padding-bottom: 20px;
}

.yet-plugins-cotent {
    display: flex;
    flex-direction: row;
}

.yet-plugins-txt--h1 {
    color: var(--text-primary, #FFF);
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.28px;
}
.yet-plugins-txt--p {
    align-self: stretch;
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.16px;
}

.new-tab-img {
    display: flex;
    padding: 4px;
    background: var(--button-primaty, #40FFE4);
    align-items: flex-start;
    gap: 10px;
}

.make-your-own {
    padding-top: 260px;
    display: flex;
    flex-direction: row;
    
}
.container {
}
.make-youur-own-H1 {
    width: 598px;
    color: var(--background-white, #FFF);
    font-family: Helvetica Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.6px;
}
.make-your-own-p {
    width: 598px;
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.18px;
    padding-top: 40px;
}
.d-flex {
}
.make-your-own-form {
    padding-left: 123px;
}

.txt {
    padding-top: 60px;
}

.pusk-is-people {
    padding-top: 252px;;
}
.pusk-is-people-h1 {

    color: var(--background-white, #FFF);
    font-family: Helvetica Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.6px;

}
.pusk-is-people-p {
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.18px;
    padding-top: 40px;
}
.cards-block {
    padding-right: 20px;
    padding-bottom: 36px;
}
.cards-block-card {
}
.cards-blokc-card-img {
}
.pusk-people--txt-block {

    width: 558px;
    height: 104px;
    
    padding: 16px;
    border: 2px solid var(--surface-color-2, #40FFE4);
    box-shadow: 3px 3px 5px 0px rgba(0, 224, 255, 0.40) inset, -3px -3px 5px 0px rgba(0, 224, 255, 0.40) inset;
    background: var(--surface-background, url(<path-to-image>), lightgray 0% 0% / 100px 100px repeat, rgba(19, 19, 19, 0.60));

    align-items: flex-start;

}
.pusk-people--txt-block-h1 {
    align-self: stretch;
    color: var(--text-primary, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.pusk-people--txt-block-p {
    align-self: stretch;
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.16px;
}

.pusk-is-people-btn {
    display: flex;
    width: 280px;
    padding: 20px 10px;
    background: var(--button-primaty, #40FFE4);
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--button-on-primary, #121212);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.16px;
}

.behind-it {
    padding-top: 252px;
}
.container {
}
.behind-it-H {
    color: var(--background-white, #FFF);
    font-family: Helvetica Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.6px;
}
.behind-it-p {
    padding-top: 40px;
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.18px;
}
.behind-it-card-block {
    display: flex;
    height: 164px;
    width: 1216px;
    padding: 24px 16px;
    border: 2px solid var(--surface-color-2, #40FFE4);
    box-shadow: 3px 3px 5px 0px rgba(0, 224, 255, 0.40) inset, -3px -3px 5px 0px rgba(0, 224, 255, 0.40) inset;
    background: var(--surface-background, url(<path-to-image>), lightgray 0% 0% / 100px 100px repeat, rgba(19, 19, 19, 0.60));
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    backdrop-filter: blur(3px);
}
.behind-it-cardd-block-H {
    color: var(--text-primary, #FFF);
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.28px;
}
.behind-it-card-block-p {
    width: 891px;
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
}

.road-map {
    padding-top: 260px;
}
.road-map-H {
    color: var(--background-white, #FFF);
    font-family: Helvetica Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.6px;
}
.road-map-p {
    padding-top: 40px;
    padding-bottom: 60px;
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.18px;
}
.road-map-img {
}

.important-for-us {
    padding-top: 260px;
}

.important-for-us-card--txt-H {
    color: var(--background-white, #FFF);
    font-family: Helvetica Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.6px;
}

.important-for-us-p {
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.18px;
}

.important-for-us-cards {
    padding-top: 60px;
}
.important-for-us--card {
    display: inline-flex;
    align-items: flex-start;
    padding-bottom: 20px;
}
.important-for-us-card--txt {
    display: flex;
    width: 950px;
    padding: 24px 16px;
    border-top: 2px solid var(--surface-color-2, #40FFE4);
    border-right: 1px solid var(--surface-color-2, #40FFE4);
    border-bottom: 2px solid var(--surface-color-2, #40FFE4);
    border-left: 2px solid var(--surface-color-2, #40FFE4);
    box-shadow: 3px 3px 5px 0px rgba(0, 224, 255, 0.40) inset, -3px -3px 5px 0px rgba(0, 224, 255, 0.40) inset;
    background: var(--surface-background, url(<path-to-image>), lightgray 0% 0% / 100px 100px repeat, rgba(19, 19, 19, 0.60));
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    backdrop-filter: blur(3px);
}
.important-for-us-card--txt-H {
    color: var(--text-primary, #FFF);
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.28px;
}
.important-for-us-card--txt-p {
    align-self: stretch;
    color: var(--text-secondary, #D1D1D1);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
}

.important-for-us--card--img {
    width: 60px;
    height: 60px;
    background: var(--surface-color-2, #40FFE4);
    flex-shrink: 0;
}